{% extends "base.html.twig" %}

{% block title %}
	Login
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset("css/searchRide.css") }}">
{% endblock %}

{% block body %}
	<h1 class="h1">Login</h1>
	<div class="container">
		<h2>Formulaire de connexion</h2>
		{{ form_start(formView) }}
		{{ form_widget(formView) }}
		{{ form_errors(formView) }}

		<button class="btn btn-success" type="submit">
			<i class="fas fa-save"></i>
			Enregistrer
		</button>

		{{ form_end(formView) }}
	</div>
{% endblock %}
