<header class="p-row">
	<div class="icon-container p-align-center p-row">
		<h1>- Ecovoit -</h1>
	</div>
	<nav>
		<ul class="p-row p-align-center">
			<li>
				<a href="{{ path('homepage')}}" >Accueil</a>
			</li>
			<li >
				<a href="{{ path('ride_search') }}" >Trajet</a>
			</li>
		</ul>
	</nav>
	<div class="log">
		<ul class="p-row p-align-center">
			{% if app.user %}
				{% if "ROLE_MODERATOR" in app.user.roles %}
					<li>
						<a href="{{ path('moderator_show') }}">
							<i class="fas fa-user-shield"></i>
						</a>
					</li>
					<li >
						<a href="{{ path('security_logout') }}" class="button1">Log Out</a>
					</li>
				{% else %}
					{% if "ROLE_BAN" in app.user.roles %}
						<li>
							<i class="fas fa-user-slash"></i>
							<p>Votre compte à été bannis</p>
						</li>
						<li>
							<a href="{{ path('security_logout') }}" class="button1">Log Out</a>
						</li>
					{% else %}
						<p>Bonjour:  <span>{{ app.user.name|upper }}</span></p>
						<li>
							<a class="lien-user" href="{{ path('user_show') }}">
								<i class="fas fa-user"></i>
							</a>
						</li>
						<li>
							<a href="{{ path('security_logout') }}" class="button1">Log Out</a>
						</li>
					{% endif %}
				{% endif %}

			{% else %}
				<li>
					<a href="{{ path('security_login') }}" >Log In</a>
				</li>
				<li>
					<a href="{{ path('security_inscription') }}" class=" button2">Inscription</a>
				</li>
			{% endif %}
		</ul>
	</div>
</header>
